.result-box[data-v-ab0c8fa3]{width:72%;margin:0 auto;text-align:center;padding-top:5px}.result-box-extra[data-v-ab0c8fa3]{padding:24px 40px;text-align:left;background:var(--v302815b4);border-radius:4px}
