.result-box[data-v-8dedbcb2]{width:72%;margin:0 auto;text-align:center;padding-top:5px}.result-box-extra[data-v-8dedbcb2]{padding:24px 40px;text-align:left;background:var(--v1d69a10c);border-radius:4px}
